
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
padding: 0;
margin: 0;
}

body {
    padding: 36px 35px;  
}

.wrapper {
width: 375px;
height: 4524px;
}

header {
    background-color: white;
    width: 300px;
}

.menu {
    display: flex;
    margin-top:44.6px;
    
}

p {
font-family: 'Roboto';
font-size: 10px;
}

.first {
    display: flex;
    align-items: center;
}

.firstline {
    margin-right: 11.65px;
}


.menu-text {
    font-size: 10px;
    width: 60.58px;
}

.first-img {
    padding-right: 3.73px;
}

.second-img {
    padding-right: 4.66px;
}

.third-img {
    padding-right: 6.06px;
}



h1 {
    font-family: 'Roboto Slab';
    font-size: 37px;
    font-weight: 700;
    height: 88.53px;
    width: 292.63px;
    margin-top:8.06px ;
    padding-left: 0.47px;
}

.under {
    margin-top: 20px;
    width: 212.4px;
    height: 28.96px;
    font-size: 10px;
    padding-left: 0.74px;
 }

 .chair-guy {
     margin-left: 201px;
 }

 .quote{ 
     background-color: rgba(30, 70, 129, 1);
     border-radius: 2.32986px;
     box-sizing: border-box;
     color: white;
     margin-left: 2.98px;
     margin-top: 38.94px;
     width: 225.36px;
     height: 93.19px;
 }

 .quote-first {
    font-family: 'Roboto Slab';
    font-size: 11px;
    padding-top: 8.97px;
    padding-left: 12.13px;
    width: 200px;
    height: 52.65px;
    
 }

 .quote-second {
    width: 130.7px;
    height: 21.27px;
    font-family: 'Roboto';
    font-size: 10px;
    text-align: right;
    padding-left: 87.07px;
    padding-top: 6.92px;
 }

 h2 {
    font-family: 'Roboto Slab';
    font-weight: bold;
    font-size: 26px;
 }

 #margin-one{
     margin-top: 75.06px;
     margin-left: 1px;
 }

 .text {
    width: 308.47px;
    height: 174.27px;
    font-family: 'Roboto';
    font-size: 12px;
    margin-top: 8.39px;
 }

 .camera-guy {
    margin-left: 66px;
    width: 170.55px;
    height: 160.29px;
 } 

 .list-one {
    margin-top: 45.71px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 200px;
    
 }

.box-one {
    width: 86px;
    
    
}
 .bold-one {
    width: 69.9px;
    height: 18.17px;  
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 12px;
 }

 .small-text-one {
    width: 86.89px;
    height: 18.5px;
    font-size: 10px;
 }

 .special {
    margin-bottom: 34px;
 }

 #margin-two {
     margin-top: 76px;
 }


 .list-two {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
 }

 .box-two {
     margin-bottom: 33px;
 }


 .blue-font {
     font-size: 12px;
     color:  #1E4681;
     font-weight: bold;
     margin-bottom: 0.83px;
}

#margin-three {
   margin-top: 40px;
}

.unmarked {
    font-size: 12px;
}


ul {
    margin-top: 24px;
    width: 299px;
    height: 174px;
    margin-left: 9px;
    
}

#margin-four {
    margin-top: 66px;
}